/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q  &kp W  &kp E  &none  &none
                &kp A  &kp S  &kp D  &none  &none
                &none  &none  &none  &kp Z  &none
                &none  &none  &none  &none  &kp X
            >;
        };
    };
};